/* purple theme */

/*
#b769e0  light 
#170225 dark purple
#a200ff 
#9108d1 footer h3 
*/ 


 /* color #a200ff ............................................*/
.navbar-default .navbar-brand ,
.navbar-default .navbar-nav > li > a,
.dropdown-menu > li > a ,
.dropdown-menu > li > a:focus ,
.dropdown-menu ,
.carousel-control:hover ,
.about h2 span ,
.about h3 span ,
.features .feat h4 ,
.testimonials span ,
.price .price-box p ,
.contact form input ,
.contact form textarea ,
.footer .copyright span {color: #a200ff ;}
 /* color #a200ff ............................................*/



/* background #a200ff ............................................*/

/* .navbar-default .navbar-nav > li > a:active ,  ?? */

.optionBox .gear-check ,
.carousel-indicators li ,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:active ,
.navbar-default .navbar-toggle .icon-bar , .navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:focus,
.dropdown-menu > li > a:focus ,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{background-color: #a200ff ;}
/*background #a200ff ............................................*/

 
 /* color #170225 ....................................................*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.optionBox .gear-check ,
.carousel-captionP ,
.carousel-control , 
.carousel-control.active ,
.about .lead ,
.about h3 , h1 ,
.features .feat span.glyphicon .navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:focus,
.dropdown-menu > li > a:focus ,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{ color:#170225;}
 /* color #170225 ...........................................................*/




 /* background #170225 ..........................................*/
.navbar-default .navbar-nav > li > a,
.dropdown-menu > li > a ,
.dropdown-menu > li > a:focus ,
.dropdown-menu ,
.optionBox .colorOption ,
.navbar-default ,
.carousel-indicators .active ,
.footer {background-color: #170225;}
 /* background #170225 ..................................................*/




/* border .................................................................*/
.navbar-default ,
.carousel-indicators .active,
.testimonials .carousel-indicators li.active{border:1px solid #170225;}

.dropdown-menu ,
.optionBox .colorOption{border:3px solid #a200ff ;}

.navbar-default .navbar-toggle ,
.carousel-indicators li ,
.footer .img-thumbnail  {border: 1px solid #a200ff ;}
/*border ..........................................................................*/





/* realted colors ...............................................*/
.footer h3{color: #9108d1;}

.optionBox .colorOption{color :#b769e0;}

.dropdown-menu .divider {background-color: #b769e0;}

.navbar-default .navbar-nav > li > a:active ,
.dropdown-menu > li > a:active {color:#330202;}
/* realted colors ...................................................................*/



/* color & background of scrollup button*/
#scroll-up{
color:#a200ff ;
background-color:#170225;
border:1px solid #a200ff ;
}


#scroll-up:hover{
color:#170225;
background-color:#a200ff ;
border:1px solid #170225;
}


/*

#170225 dark purple
#a200ff 
 
*/ 